<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150])%>
  <% end %>
</p>

<p>
  <strong><%= User.human_attribute_name(:follows) %>:</strong>
  <%= @follow_number %>
  <%= link_to t('views.common.list'), follow_list_path %> 
</p>

<p>
  <strong><%= User.human_attribute_name(:followers) %>:</strong>
  <%= @follower_number %>
  <%= link_to t('views.common.list'), follower_list_path %> 
</p>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% else %>
  <% if follower? %>
    <%= button_to Follow.human_attribute_name(:unfollow), unfollow_path(user_id: @user.id), action: :destroy, method: :delete %>
  <% else %>
    <%= button_to Follow.human_attribute_name(:follow), follow_path, action: :create, method: :post %>
  <% end %>
<% end %>
<%= link_to t('views.common.back'), users_path %>
