<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('dictionary.title') %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t('dictionary.memo')%>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= t('dictionary.author')%>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('dictionary.edit'), edit_book_path(@book) %> |
<%= link_to t('dictionary.back'), books_path %>
