
<h1><%=t('dictionary.user_details')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('dictionary.id') %></th>
      <th><%= t('dictionary.email') %></th>
      <th><%= t('dictionary.user') %></th>
      <th><%= t('dictionary.name') %></th>
      <th><%= t('dictionary.postal') %></th>
      <th><%= t('dictionary.address') %></th>
      <th><%= t('dictionary.self_introduction') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <% unless user.user_detail == nil %>
          <td><%= user.user_detail.user_id %></td>
          <td><%= user.user_detail.user_name %></td>
          <td><%= user.user_detail.postal_code %></td>
          <td><%= user.user_detail.address %></td>
          <td><%= user.user_detail.self_introduction %></td>
          <td><%= link_to t('views.common.show'), user.user_detail %></td>
          <% if user.id == current_user.id %>
            <td><%= link_to t('views.common.edit'), edit_user_detail_path(user.user_detail) %></td>
            <td><%= link_to t('views.common.destroy'), user.user_detail, method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
          <% end %>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <% if user.id == current_user.id %>
            <td><%= link_to t('dictionary.new_user_detail'), new_user_detail_path %></td>
            <td></td>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>

<br>

