
<p>
  <strong><%= t('dictionary.id') %>:</strong>
  <%= @user_detail.id %>
</p>

<p>
  <strong><%= t('dictionary.user') %>:</strong>
  <%= @user_detail.user_id %>
</p>

<p>
  <strong><%= t('dictionary.name') %>:</strong>
  <%= @user_detail.user_name %>
</p>

<p>
  <strong><%= t('dictionary.postal') %>:</strong>
  <%= @user_detail.postal_code %>
</p>

<p>
  <strong><%= t('dictionary.address') %>:</strong>
  <%= @user_detail.address %>
</p>

<p>
  <strong><%= t('dictionary.self_introduction') %>:</strong>
  <%= @user_detail.self_introduction %>
</p>

<%= link_to t('views.common.edit'), edit_user_detail_path(@user_detail) %> |
<%= link_to t('views.common.back'), user_details_path %>
